<?xml version="1.0" encoding="UTF-8"?>

<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
    backupGlobals               = "false"
    backupStaticAttributes      = "false"
    colors                      = "true"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "true"
    convertWarningsToExceptions = "true"
    processIsolation            = "false"
    stopOnFailure               = "false"
    syntaxCheck                 = "false"
    bootstrap                   = "vendor/autoload.php">

    <testsuites>
        <testsuite name="Helpers Tests">
            <directory>tests/Helper</directory>
        </testsuite>
        <testsuite name="Printer Managers Tests">
            <directory>tests/PrinterManager</directory>
        </testsuite>
        <testsuite name="Printer Commands Tests">
            <directory>tests/Command</directory>
        </testsuite>
        <testsuite name="App Controllers Tests">
            <directory>tests/Controller</directory>
        </testsuite>
        <testsuite name="App Entities Tests">
            <directory>tests/Entity</directory>
        </testsuite>
    </testsuites>

</phpunit>
